<h3>Ingresa tu nueva contraseña. No puedes usar tu contraseña anterior nuevamente</h3>
<form action="/api/sessions/reset-password" method="post">
    <input type="hidden" name="token" value="{{token}}" />
    <input type="hidden" name="email" value="{{email}}" />
    <label for="new-password">New Password:</label>
    <input type="password" id="new-password" name="newPassword" required />
    <br>
    <button type="submit">Reset Password</button>
</form>